[submodule "llama-cpp-sys/llama.cpp"]
	path = llama-cpp-sys/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "llama-cpp/llama.cpp"]
	path = llama-cpp/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
